<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <title>Commandes</title>
</head>
<body>

  <div class = container-menu id="top">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="menu-button">
          <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars"></i></button>
          <div id="myDropdown" class="dropdown-content">
            <a href="Ordinateurs_et_accesoires.ejs">Ordinateurs et accesoires</a>
            <a href="Jeux_video.ejs">Jeux video</a>
            <a href="Jeux_educatifs.ejs">Jeux éducatifs</a>
            <a href="Vetement.ejs">Vetement</a>
            <a href="Livres.ejs">Livres</a>
            <a href="Gadget_electronique.ejs">Gadget électronique</a>
          </div>

        </div>
        <div class="nav-link-wrapper">
          <a href="menu.ejs">Menu</a>
        </div>
        <div class="nav-link-wrapper">
          <a href="Portefeuille.html">Portefeuille</a>
        </div>
        <div class="nav-link-wrapper">
          <a href="login.ejs">Se connecter</a>
        </div>
        <div class="nav-link-wrapper">
          <a href="Commandes.html">Commandes</a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search.." style="width:600px;height:40px;">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="nav-link-wrapper">
          <p>Utilisateur</p>
        </div>


      </div>

      <div class="right-side">
        <div class="shopping-cart">
          <a href="panier.ejs">
            <img src="../public/shopping-cart.png" style="width:40px;height:30px;">
          </a>
          <div>
            <b><p>0</p></b>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>