<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <title>Login</title>
</head>
<body class="Body">
    <video autoplay muted loop id="myVideo">
        <source src="../public/video/video.mp4" type="video/mp4">
    </video>
    <div class="content-login">
        <div class="login-container">
            <b><p>Adresse e-mail</p></b>
            <input type="text" name="e-mail" placeholder="E-mail"><br>
            <b><p>Password</p></b>
            <input type="text" name="password" placeholder="Password"><br><br>
            <a href="portefeuille.ejs">
                <input type="submit" value="Continuer"><br><br>
            </a>
            <a href="register.ejs" >Mot de passe oublié?</a><br>
            <p>En passant votre commande, vous acceptez les Conditions générales de vente de notre site</p>
            <div class="register-from-login">
                <div class="line1"></div>
                <p>Nouveau sur notre site?</p>
                <div class="line2"></div>
            </div>
            <div class="register-button">
                <a href="register.ejs">
                    <input type="submit" value="Créer votre compte" width="200px" height="10px">
                </a>
            </div>
        </div>

    </div>
</body>
</html>