<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <title>Register</title>
</head>
<body class="Body">
    <video autoplay muted loop id="myVideo">
        <source src="../public/video/video.mp4" type="video/mp4">
    </video>
    <div class="content-register">
        <div class="register-container">
            <b><p>Prénom</p></b>
            <input type="text" id="First Name" name="First Name" placeholder="Prénom" size="30" required>
            <br>
            <b><p>Nom</p> </b>
            <input type="text" id="Last name" name="Last name" placeholder="Nom de famille" size="25" required>
            <br>
            <b><p>Adresse e-mail</p></b>
            <input type="text" name="e-mail" placeholder="E-mail"><br><br>
            <b><p>Password</p></b>
            <input type="text" name="password" placeholder="Password"><br><br>
            <a href="login.ejs">
                <input type="submit" value="Continuer"><br><br>
            </a>
            <p>En passant votre commande, vous acceptez les Conditions générales de vente de notre site</p>
        </div>
    </div>
</body>
</html>